<!DOCTYPE html>
<html>
<head>
  <title>Articles -- All the World's Articles (with a name .com hipsters love)</title>
  <%= stylesheet_link_tag    'application.css' %>
</head>
<body>
	<div id="article_stuff">
	<h1>Articl.es</h1>
	<h2>...with a name .com hipsters love!</h2>
	<br/>
	<br/>
<%= yield %>
	</div>

</body>
</html>
